
form a {
  margin-left: 5px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.center-block-login {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}
